.footer-heading-container{
  width: 100%;
  background-color: #000;
  height: 100px;
  margin-top: 2rem;
}
.footer-text-container{
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}