.product-info-image-text{
    display: flex;
    height: 40rem;
    gap: 15rem;
    align-items: center;
    width:70% ;
    padding-left: 2rem;
    border: 1px solid #dcd7d7;
    border-radius: 8px;
    cursor: pointer;
}


.product-info-container{
    margin-top: 10rem;
    margin-left: 50px;
    margin-right: 50px;
}
.add-to-cart-button{
    border: none;
    height: 40px;
    width: 25rem;
    background-color:#e8830e;
}
.product-image-cart {
    /* Your existing styles here */
    transform-style: preserve-3d; /* Enable 3D transformations */
    transition: transform 0.5s ease; /* Add a smooth transition effect */
}

.product-image-cart:hover {
    /* On hover, flip the element along the X-axis */
    transform: rotateX(180deg); /* Adjust the angle as needed */
    border: 1px solid #dcd7d7;
}

@media(max-width:1024px){
    .product-info-image-text{
        width: 100%;
        gap: 8rem;
        padding-left: 0rem;
    }
}

@media(max-width:320px){
    .product-info-image-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: none;
    }
    .product-text-container{
        width: 100%;
    }
    .add-to-cart-button{
        width:100%
    }
    .product-info-container{
        margin-top: 6rem;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media(max-width:768px){
    .product-info-image-text{
        width: 100%;
        display: flex;
        gap: 1rem;
    }
.product-info-container{
margin-top: 5rem;
margin-left: 8px;
margin-right: 8px;

    }
}

@media(max-width:600px){
    .product-info-image-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    }
    .product-text-container{
        padding-left: 2rem;
    }
    .product-image-container{
        margin-top: 3rem;
    }
}
.add-to-cart-button{
    cursor: pointer;
}