/* App.css or your custom global styles */
body {
    margin: 0;
    padding: 0;
  }

  
  /* App.css or your custom global styles */
.app-container {
    margin: 0;
    padding: 0;
  }
  
  /* CSS for sticky footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Adjust the background color as needed */
  color: white; /* Adjust the text color as needed */
  padding: 20px; /* Adjust the padding as needed */
  text-align: center;
}
