.login_master_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
  }
  .login_text_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .submit-button {
    margin-bottom: 10px; /* Adjust the margin as needed */
  }
  
  .facebook-button {
    margin-top: 10px; /* Adjust the margin as needed */
  }