/* ProductList.css */


.product-list-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
     /* Adjust the gap between cards */
     margin-top: 1px;
     justify-content: center;
     align-items: center;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 170px;
    height: 200px; /* Adjust the card width as needed */
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
  }
  
  .product-image {
    max-width: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  
  .product-details {
    padding: 10px;
  }
  
  .product-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .product-price {
    font-size: 1.2rem;
    color: #007bff; /* Change the color to your preferred style */
    margin-top: 8px;
  }


  @media(max-width:768px){
    .product-list-heading{
      margin-top: 2rem;
    }
  }
  @media(max-width:600px){
    .product-card{
      width: 150px;
    }
  }
  @media(max-width:400px){
    .product-list{
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 4px;
    }
  }
  @media(max-width:320px){
    .product-card{
      width: 120px;
    }
  }
  @media(max-width:280px){
    .product-card{
      width: 100px;
      height: 120px;
    }
    .product-image{
      width: 50px;
      height: 40px;
    }
    .product-name{
      font-size: small !important;
    }
    .product-price{
      font-size: smaller;
    }
  }
 @media(min-width:450px)and (max-width:500px){
    .product-card{
      width: 100px;
    }
  }
  